@import './base.css';
@import "tailwindcss";
#app {
  height: 1080px;
  width: 1920px;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
body {
  user-select: none;
  -webkit-user-select: none;  /* Safari/Chrome */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
  caret-color: transparent;   /* 隐藏输入光标 */
}


input, textarea {
  user-select: auto;
  caret-color: auto;
}


